*{margin:0;padding:0;}
.auto{width:1200px;margin:0 auto;}
a{text-decoration: none}
.clear:after {content: "";display: block;height: 0;clear: both;}
.clear {zoom: 1;}li{list-style: none;color:#fff;float:left;}
input{outline:none}
body{background:url(../images/bg.jpg);background-size:cover;font-family:"微软雅黑","宋体";font-size:14px;}
html body #header .navover{color:#fff;background:#c30d23;}
/*顶部区域*/
#header{height:136px;}
#top {height:50px;line-height:50px;background:rgba(0,0,0,0.3);font-size:14px;}
#top ul{float:right;}
#top ul .phone{width:16px;height:16px;background:url(../images/phone_03.png) no-repeat;margin:18px -10px 0px 0px;}
#top ul li{float:left;margin-left:15px;}
#top .wechat{position:relative;}
#top ul .qr{cursor:pointer;}
#top ul .img{display:none;position:absolute;right:-20px;top:50px;}
#top .logo{width:200px;height:158px;border-radius:13px;background:#fff;position:absolute;top:-22px;}
#top .logo img{position:absolute;bottom:25px;width:179px;height:38px;left:10px;}
#top .nav a{margin-top:50px;display:block;color:#333;width:115px;height:35px;line-height:35px;background:#fff;text-align:center;border-radius:10px;font-size:20px;}
#top .nav a:hover{color:#fff;background:#c30d23;}
#top .nav li{margin-left:9px;}
/*main区域*/
#main .auto .text{display:block;width:812px;margin:auto;position:absolute;top:0;left:0;right:0;bottom:0;}
/*footer区域*/
#index #footer{height:207px;width:100%;color:#fff;position:absolute;bottom:0;}
#footer{height:207px;width:100%;}
#footer .footer_top{height:168px;background:rgba(0,0,0,0.3);}
#footer .footer_top .dllist{margin-left:210px;}
#footer .footer_top dl{float:left;margin-top:14px;margin-right:67px;}
#footer .footer_top .last{margin-right:0px;}
#footer .footer_top dl dt{height:32px;line-height:32px;}
#footer .footer_top dl dd{height:24px;line-height:24px;}
#footer .footer_top dl a{color:#fff;}
#footer .footer_bottom{height:40px;background:#000;line-height:40px;}
#footer .footer_bottom p{text-align:center;color:#fff;}